:root {
    font-family: Arial, Helvetica, sans-serif;
    --white-grey: #dbe1e5;
    --dark-grey: #3c4148;
    --dark-grey-accent-1: #555a60;
    --dark-grey-accent-2: #4b525a;
    background-color: var(--white-grey);
}

#sidebar {
    width: 250px;
    height: 100%;
    background-color: var(--dark-grey);
    display: block;
    position: fixed;
    top: 0;
    padding: 15px;
    color: var(--white-grey);
}

#sidebar ul {
    padding: 0;
}

#sidebar li {
    background-color: var(--dark-grey-accent-1);
    margin: 10px 0;
    padding: 12px 10px;
    border: 2px solid var(--dark-grey-accent-1);
    border-radius: 5px;
    list-style-type: none;
}

#sidebar li:hover {
    cursor: pointer;
    background-color: var(--dark-grey-accent-2);
    border-color: var(--dark-grey-accent-2);
}

#sidebar a {
    text-decoration: none;
    color: var(--white-grey);
}


#gallery {
    margin-left: 290px;
    padding: 10px;
}

#gallery h1 {
    padding-top: 20px;
}

.gallery-img-container {
    margin: 10px;
    padding: 0;
    border: 0;
}

.gallery-img-container:hover {
    cursor: pointer;
    opacity: 0.85;
}

.gallery-img {
    max-height: 300px;
    padding: 0;
    margin: 0;
}

#clicked-image-container {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.5);
}